<footer id="footer" class="footer">
    <div class="copyright">
      Copyright © RentalApp by ASC-Vision
    </div>
    <div class="credits">

    </div>
</footer>
<div id="successInfo">

</div>

<div class="modal fade" id="delcfmOverhaul">
    <div class="modal-dialog">
        <div class="modal-content message_align">
            <div class="modal-header">
                <h4 class="modal-title lang"  key="delete.hint">confirm to delete?
                    Customer</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="deleteHaulId" />
                <p class="lang" key="delete.confirm">您确认要删除该条信息吗？</p>
                <span style="display: none" id="del_id"></span>
                <span style="display: none"  id="del_url"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn lang btn-default" data-bs-dismiss="modal"    key="cancel">cancel</button>
                <button type="button" class="btn lang btn-primary"   id="publicDelete" onclick="publicDelete()" key="confirm" >confirm</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>