<script src="/resources/assets/vendor/jquery/jquery-1.10.2.min.js"></script>
<!--<script src="/resources/assets/vendor/jquery/jquery.date.js"></script>-->
<!--<script src="/resources/assets/vendor/bootstrap/js/bootstrap.js"></script>-->
<script src="/resources/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/resources/assets/vendor/bootstrap/js/bootstrap-select.min.js"></script>
<!--<script src="/resources/assets/vendor/bootstrap/js/dropdown.js"></script>-->
<script src="/resources/assets/vendor/chart.js/chart.min.js"></script>
<script src="/resources/assets/vendor/datatables/js/jquery.dataTables.js"></script>
<script src="/resources/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/resources/assets/vendor/php-email-form/validate.js"></script>
<script src="/resources/assets/js/config.js"></script>
<script src='/resources/assets/js/ajax_hy.js'></script>
<script src="/resources/assets/js/main.js"></script>